<div class="main-background">
  <div class="overlay"></div>
  <div
    class="container"
    style="background-color: #fff; opacity: 0.7; color: #000000; padding: 20px"
  >
    <div class="row">
      <!-- Main Content -->
      <div class="col-12 col-md-8">
        <h1 class="text-center">Recent Blog Posts</h1>
        <% blogPosts.forEach(post => { %>
        <div class="card mb-4 blog-post-card">
          <div class="row">
            <div class="col-12 col-md-4 blog-post-image">
              <% if (post.images && post.images.length > 0) { %>
              <img
                src="<%= post.images[0].replace('public\\', '/') %>"
                alt="Post Image"
                class="img-fluid mb-2"
              />
              <% } %>
            </div>
            <div class="col-12 col-md-8">
              <h5 class="card-title blog-post-title"><%= post.title %></h5>
              <small class="text-muted d-block blog-post-author"
                >By <%= post.author.username %> | Visited on: <%= new
                Date(post.travelDate).toLocaleDateString() %> | Rating: <%=
                post.rating %> ★</small
              >
              <p class="card-text mt-2">
                <%= post.content.substring(0, 100) %>...
              </p>
              <a
                href="/explore/<%= post._id %>"
                class="btn btn-outline-success btn-block"
                >Read More</a
              >
            </div>
          </div>
          <div class="row blog-post-location">
            <div class="col-12">
              <small class="text-muted d-block"
                ><%= post.city %>, <%= post.state ? post.state + ',' : '' %> <%=
                post.country %></small
              >
            </div>
          </div>
        </div>
        <% }) %>
      </div>

      <!-- Sidebar -->
      <div class="col-12 col-md-4">
        <h3 class="text-center">Sidebar</h3>
        <!-- Search Bar -->
        <form action="/search" method="get" class="input-group mb-3">
          <input
            type="text"
            name="query"
            class="form-control"
            placeholder="Search"
            required
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
              Search
            </button>
          </div>
        </form>

        <!-- Highlights -->
        <div class="mb-3">
          <h4>Highlights</h4>
          <ul>
            <% highlights.forEach(highlight => { %>
            <li>
              <a href="/highlights/<%= highlight %>" class="highlight-link"
                ><%= highlight.charAt(0).toUpperCase() + highlight.slice(1)
                %></a
              >
            </li>
            <% }) %>
          </ul>
        </div>

        <!-- Archives -->
        <div class="mb-3">
          <h4>Archives</h4>
          <ul>
            <!-- Add archives -->
            <li><a href="/archive-link">Archive 1</a></li>
          </ul>
        </div>

        <!-- Add more sidebar content as needed -->
      </div>
    </div>
  </div>
</div>
